name: HostInfinity PHP Syntax Check

on:
  push:
    branches: ["main"]

jobs:
  syntax-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Validate PHP Syntax
        run: |
          php -l Index.php
          php -l Process_Form.php
